settings-modal{
    modal-component{
        inputs-wrapper{
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    }
}