.breakdown{
    width: 100%;
    display: block;

    &.-overflow{
        overflow-x: auto;
        box-shadow: var(--shadow-inner);

        td{
            width: 130px;
            flex: none;
        }
    }

    &.tooltip-visible{
        tbody{
            tr{
                td{
                    .tooltip{
                        opacity: 1;
                    }
                }
            }
        }
    }

    thead{
        display: block;
        width: 100%;

        tr{
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            td{
                flex: 1;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 56px;
                padding: 0 2rem;
                text-align: left;
                font-weight: var(--font-medium);
                font-size: var(--text-md);
            }
        }
    }

    tbody{
        display: block;
        width: 100%;

        tr{
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            td{
                height: 52px;
                padding: 0 2rem;
                flex: 1;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: default;
                transition: all 75ms var(--ease);
                transform-origin: center;

                &:not(:first-of-type):hover{
                    transition: all 150ms var(--ease-bounce);
                    box-shadow: var(--shadow-md);
                    transform: scale(1.15);
                    z-index: 50;

                    span{
                        opacity: 0;
                    }

                    .tooltip{
                        opacity: 1;
                    }
                }

                span{
                    opacity: 1;
                    transition: all 75ms var(--ease);
                }

                .tooltip{
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    border-radius: 0.25rem;
                    opacity: 0;
                    z-index: 100;
                    transition: all 75ms var(--ease);
                    margin-top: 1px;

                    dt,
                    dd{
                        display: inline-block;
                        width: 50%;
                        line-height: 0.75;
                        font-size: var(--text-sm);
                    }

                    dt{
                        font-weight: var(--font-semibold);
                        text-align: right;

                        &:first-of-type{
                            transform: translateY(2px);
                        }

                        &:last-of-type{
                            transform: translateY(-2px);
                        }
                    }

                    dd{
                        text-align: left;
                        padding-left: 0.25rem;
                        
                        &:first-of-type{
                            transform: translateY(2px);
                        }
                        &:last-of-type{
                            transform: translateY(-2px);
                        }
                    }
                }
            }
        }
    }
}