export-modal{
    modal-component{
        vars-container{
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5rem;
        }

        textarea{
            border: 1px solid var(--grey-300);
            width: 100%;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            height: 256px;
            color: var(--grey-700);
            overscroll-behavior: contain;

            &:hover,
            &:focus{
                border-color: var(--primary-400);
                box-shadow: 0 0 3px rgba(99, 179, 237, 0.06), 0 0 6px rgba(99, 179, 237, 0.1);
            }
        }
    }
}