help-modal{
    modal-component{
        h2{
            font-size: var(--text-lg);
            font-weight: var(--font-medium);
            display: block;
            margin-bottom: 0.25rem;
        }

        p{
            display: block;
            width: 100%;
            margin-bottom: 1.5rem;
            font-size: var(--text-sm);
            line-height: 1.618;
            color: var(--neutral-700);

            &:last-child{
                margin-bottom: 0;
            }
        }

        table{
            display: block;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1.5rem;

            tbody{
                display: block;
                width: 100%;
            }

            tr{
                display: flex;
                width: 100%;
                border-bottom: 1px solid var(--neutral-300);
                transition: all 150ms var(--ease);

                &:hover{
                    background-color: var(--neutral-100);
                }

                &:first-of-type{
                    border-top: 1px solid var(--neutral-300);
                }

                td{
                    text-align: center;
                    flex: 1;
                    border-right: 1px solid var(--neutral-300);

                    &:first-of-type{
                        border-left: 1px solid var(--neutral-300);
                    }
                }
            }
        }
    }
}