#mounting-point{
    filter: blur(0);
    transition: all 300ms var(--ease);

    &.is-blurry{
        filter: blur(16px);
        transition: none;
    }
}
.app-shell{
    width: 100%;
    max-width: 1024px;
    display: block;
    margin: 0 auto;
    padding: 2rem 1rem 4rem;
    min-height: calc(100vh - 71px - 37px);

    .colors{
        width: 100%;
        display: block;
        padding: 2rem;
        box-shadow: var(--shadow-md);
        background-color: var(--white);
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }

    h2{
        @media (max-width: 600px){
            text-align: center;
        }
    }

    .button-wrapper{
        margin-bottom: -1.5rem;
        text-align: center;

        @media (min-width: 600px){
            text-align: left;
        }

        .new-color-button{
            vertical-align: top;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            width: 96px;
            height: 96px;
            border-radius: 0.25rem;
            border: 2px dashed var(--grey-300);
            cursor: pointer;
            position: relative;
            transform-origin: center;
            transform: none;
            margin: 0 auto 2rem;
            transition: all 150ms var(--ease), transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

            @media (min-width: 600px){
                display: inline-flex;
                margin: 0 2rem 2rem 0;
            }

            &:active{
                transform: scale(0.87);
            }

            &:hover,
            &:focus{
                border-color: var(--primary-500);
                
                svg,
                span{
                    color: var(--primary-700);
                }
            }

            svg{
                color: var(--grey-700);
                width: 24px;
                height: 24px;
                margin-bottom: 0.5rem;
                transition: all 75ms var(--ease);
            }

            span{
                color: var(--grey-700);
                display: block;
                transition: all 75ms var(--ease);
                font-weight: var(--font-medium);
                font-size: 0.875rem;
            }
        }
    }

    .export-button{
        width: 48px;
        height: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;

        svg{
            color: var(--neutral-500);
            transition: all 75ms var(--ease);
        }
    }
}
header{
    overflow-x: auto;
    justify-content: center;

    @media (min-width: 600px){
        justify-content: space-between;
    }

    h1{
        display: none;

        @media (min-width: 600px){
            display: inline-block;
        }
    }
}
@keyframes modalPop
{
    from{
        transform: scale(0.87);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}