/* purgecss start ignore */
@tailwind base;

*{
    -webkit-tap-highlight-color: transparent;
    transition: all 150ms var(--ease);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    user-select: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}
button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus{
    outline: none;
    box-shadow: none;
}

body{
    background-color: var(--dashboard-background);
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;